<div class="flex justify-end items-center mr-5 mt-5"> 
    <p class="mr-3 text-lg font-bold">Logout</p>
    <a href="{{ path('app_logout') }}">
        <img class="max-w-12" src="{{ asset('img/salir.svg') }}">
    </a>        
</div>