<div class=" grid grid-cols-2 max-w-2xl w-full  bg-local" >        
    <div class="text-center max-w-24 uppercase py-1 border-2 border-black hover:bg-indigo-400 text-black font-bold px-4  rounded shadow-black-400 shadow-xl" >
         <a href="{{ path('app_view')}}">Home</a>
    </div>
    <div class="flex flex-row justify-end items-end gap-5">
        <div class="uppercase py-1 border-2 border-black hover:bg-indigo-400 text-black font-bold px-4  rounded shadow-black-400 shadow-xl">
            <a  href="{{ path('app_shelf_index')}}">shelf</a>
        </div>
        <div class=" uppercase py-1 border-2 border-black hover:bg-indigo-400 text-black font-bold px-4  rounded shadow-black-400 shadow-xl">
            <a  href="{{ path('app_basket_index')}}">basket</a>
        </div>
        <div class="uppercase py-1 border-2 border-black hover:bg-indigo-400 text-black font-bold px-4  rounded shadow-black-400 shadow-xl">
            <a  href="{{ path('app_product_index')}}">product</a>
        </div>
    </div>
</div>